@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    justify-content: center;
    background-color: #fcb7af;
    overflow: hidden;
}

#btn {
    height: 50px;
    width: 150px;
    color: black;
    background-color: #fdcae1;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#gift {
    display: flex;
    flex-direction: column;
    line-height: 2px;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#gift-icon {
    height: 70px;
    width: 70px;
    margin-top: 50px;
    cursor: pointer;
    background: #f20044;
    position: relative;
    transform: rotate(-45deg);
    box-shadow: -10px 10px 90px #f20044;
    animation: giftIcon 0.6s linear infinite;
}

@keyframes giftIcon {
    0% {
        transform: rotate(-45deg) scale(1.07);
    }
    80% {
        transform: rotate(-45deg) scale(1.0);
    }
    100% {
        transform: rotate(-45deg) scale(0.8);
    }
}

#gift-icon:before {
    content: '';
    position: absolute;
    height: 70px;
    width: 70px;
    background: #f20044;
    top: -50%;
    border-radius: 50px;
}

#gift-icon:after {
    content: '';
    position: absolute;
    height: 70px;
    width: 70px;
    background: #f20044;
    right: -50%;
    border-radius: 50px;
}

#video-gif {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#back-button {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    top: 120%;
    left: 50%;
    height: 50px;
    width: 100px;
    color: black;
    background-color: #fdcae1;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    transform: translate(-50%, -50%);
}